body {
    background-color: #343434;
    overflow-x: hidden;
}

.program {
    font-family: Comic Sans MS;
    color: white;
    text-align: center;
    font-size: 50px;
}

.foto-legenda {
    max-width: 25%;
    max-height: 25%;
}

p {
    color: white;
    font-size: 15pt;
}

.deficiente-legenda {
    max-width: 25%;
    max-height: 25%;
}

.tela {
    padding-top: 125px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
}

.buttons {
    padding-bottom: 50px;
}