body {
    background-color: #343434;
}

.program {
    font-family: Comic Sans MS;
    color: white;
    text-align: center;
    font-size: 50px;
}

.foto-legenda {
    max-width: 50%;
    max-height: 50%;
}

p {
    color: white;
    font-size: 15pt;
}

.deficiente-legenda {
    max-width: 43%;
    max-height: 43%;
}